*{
    margin:0;
    padding: 0%;
    font-family: andada ;
    text-decoration: none;
}
body{
	max-width:100%;
	height:100%;
	overflow-x: hidden;

}
#logo{
	background-color: whitesmoke;
	color: #000;
	height:auto;
	width: 100%;
	position: sticky;
	top:0;
	z-index: 1;
	font-size: 18px;
	text-align:left;
	padding:0;
	
}	
::-webkit-scrollbar {
	width: 12px;
	
	
}


::-webkit-scrollbar-thumb {
background: linear-gradient(transparent, #00129e);
border-radius: 8px;	
}

.upbutton {
	position: fixed;
	width: 50px;
	height: 50px;
	background: #457dc4;
	bottom: 70px;
	right: 40px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;

}

html {
	scroll-behavior: smooth;
}



.button{
    position:absolute;
    float: right;
    top: 40%;
    right: 1%;
	align-items:center;
	
}

.btn{
    border: 2px solid #00285a;
    padding: 6px 30px;
    color:black;
    text-decoration:none;
    border-radius: 15px;
    transition: 0.3s ease;
}
.btn:hover{
    color: white;
    background-color: #00285a;
}
}
.search-box{
	display:flex;
	left: 50%;
	background: purple;
	height: auto;
	border: 2px solid brown;
	border-radius: 40px;
	padding: 5px;
	
}

.search-box:hover > .search-txt{
	width: 240px;
	padding: 0 6px;
}

.search-box:hover > .search-btn{
	background: white;
	
}
.search-btn{
	color: #00285a;
	float:right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:5px;
}

.search-txt{
	border:2px solid black;
	border-radius:20px;
	background: none;
	outline: none;
	float: left;
	padding: 0 0 0 10px;
	color: white;
	font-size: 16px;
	transition:0.4s;
	align-items: center;
	line-height: 40px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

}
section-head{
	
	width:auto;
	height:auto;
	margin:auto;
	padding-top:0;
	background-color: gray;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
	overflow: auto;
	
	
}


nav{
	background-color:#1d5cab;
	width:100%;
	float: left;
	margin-top:0;
	height:auto;
	display:flex;
	justify-content: space-between;
	position:fixed;
	align-items:center;
	align-content:stretch;
	z-index:1;
	
}
	

nav ul{
	width: auto;
	height:100%;
	margin:0;
	padding:0;

	display: block;
}


nav ul li {
	float: left;
	background-color: #1d5cab;
	color: whitesmoke;
	width: 200px;
}


nav li{
	list-style-type: none;
	display: inline-block;
	width:auto;
	margin-right: 50px;
	font-weight: 300;
}

nav li a{
	font-size:21px;
	height:50px;
	line-height: 50px;
	text-decoration: none;
	color: whitesmoke;
	padding-left:30px;
	display: inline-block;
}

nav li a:hover{
	color: #457dc4;
	
}



nav ul li ul {
	position: absolute;
	background: #00285a;
	top: 50px;
	display: block;
	width: 200px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;  
}


nav ul li:hover ul {
	opacity: 1;
	visibility: visible;
}


nav ul li:hover {
	background: #00285a;

}




.slideshow {
    width: 500px;
    position:relative;
    margin: auto;
    margin-top: 5%;
	
}
.mySlides{
    display: none;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight:bold;
    transition: 00.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: black;
}
.numbertext {
    color: #457dc4;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 20px;
}
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #457dc4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #00285a;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.highlights{
   margin-top: 20px;
   width: 380px;
   padding: 14px;
   background-color: #b9d0ed;
   text-align:center;
   border-radius: 30px;
   transform: translate(-60px);
   font-size:20px;
}

.topviewed {
	color: #00285a;
}




footer{
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
    margin: 0 0 0 0;
    background-color: #00285a;
    flex-direction: row;
	
}


.©Debookers {
	width: 10%;
    height: auto;
    float: left;
    display: flex;
    margin: 10px 5% 10px 10px;
    color: white;
    z-index: 2;
    position: sticky;
}

.Rights{
	width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: flex-start;
    margin: 5px 5px 5px 0;
    align-items: flex-start;
    color: white;
	z-index:3;
	position:sticky;
}

.social{
	width: 30%;
    height: auto;
    float: right;
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 5px 15px;
    align-items: flex-end;
	z-index:3;
	position:relative;
}
