*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;

}
a{
    text-decoration: none;
    color: rgb(20, 20, 80)
}
.logo{
    font-size: 23px;
    font-weight: 800;
}
.login{
    display: flex;
    align-items: center;
    text-align: center;
}
.login a{
    margin-left: 25px;
    color: white;
    background-color: #1d5cab;
    padding: 9px 16px;
    border-radius: 15px;
}
.login a:hover{
    background-color: #0e325e;
    transition: all ease-in .2s;
}
/* content*/
.content{
    width: 100%;
    padding: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-message{
    width: 700px;
    font-size: 18px;
    font-weight: 400;
}
.contact{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #1d5cab;
}
.mail{
    margin-top: 10px;
    font-size: 17px;
}
/*Footer*/
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer-content p{
    padding-top: 15px;
}